header.header
    .container
        .logo 
            .logo__img 
                include ../../icon-svg/logo

        .menu-burger.js-menu-burger
            .menu-burger__wrap
                .nav
                    ul.nav__list 
                        li.nav__item 
                            a(href="").nav__link Продукты
                        li.nav__item 
                            a(href="").nav__link Технологии
                        li.nav__item 
                            a(href="").nav__link Experience

                .social
                    a(href="#").social__img
                        include ../../icon-svg/twitter
                    a(href="#").social__img
                        include ../../icon-svg/inst

        .burger.js-burger
            span
            span
            span