.page-class {
	padding: 60px 0;
	background: linear-gradient(94deg, #000000 0%, rgba(0, 0, 0, 0) 100%),
		url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;

	.section-title {
		font-size: 26px;
		font-family: $font-family-secondary;
		line-height: 1.38;
		letter-spacing: 0.25px;
		color: $white;
		margin-bottom: 20px;
		text-align: center;
	}
	.section-text {
		font-size: 16px;
		line-height: 1.75;
		text-align: center;
		letter-spacing: 0.3px;
		color: #ffffff;
		max-width: 730px;
		width: 100%;
		margin: 0 auto 50px;
	}
}

.intro-wrap {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px 50px;
}

.intro {
	width: 100%;
	padding: 0 15px 50px;
	min-height: 100%;

	@media (min-width: 768px) {
		width: 50%;
	}

	@media (min-width: 1024px) {
		width: 25%;
		padding-bottom: 0;
	}

	&__wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
	}

	&__img {
		margin-bottom: 37px;
		max-width: 151px;
		width: 100%;
		height: 71px;
		cursor: pointer;

		svg {
			width: 100%;
			height: 100%;
		}

		&:hover {
			svg {
				path {
					fill: #77b900;
					fill-opacity: 0.25;
					stroke: #77b900;
				}
			}
		}

		svg {
			path {
				transition: $base-transition;
			}
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
	}

	&__title {
		color: $white;
		font-size: 26px;
		font-weight: 400;
		font-family: $font-family-base;
		letter-spacing: 0.25px;
		line-height: 1.38;
		text-align: center;
		margin-bottom: 12px;
		@media (min-width: 768px) {
			text-align: left;
		}
	}
	&__subtext {
		font-family: $font-family-secondary;
		color: #77b900;
		font-weight: 700;
	}

	&__text {
		font-size: 16px;
		line-height: 1.75;
		letter-spacing: 0.3px;
		color: #e1e1e1;
	}
}
