.mask {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 999;
	display: none;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 540px;
	width: 100%;
	padding: 15px;
	z-index: 1000;
	display: none;

	&__wrap {
		position: relative;
		width: 100%;
		padding: 73px 0;
		background: #000000;
		border: 2px solid #77b900;
		box-sizing: border-box;
		box-shadow: 0px 0px 20px rgba(119, 185, 0, 0.5);
	}
	.modal-close {
		position: absolute;
		top: 12px;
		right: 12px;
		outline: none;
		border: none;
		background-color: transparent;
		width: 20px;
		padding: 10px;

		&::before,
		&::after {
			content: '';
			display: block;
			position: absolute;
			width: 20px;
			height: 2px;
			background-color: $white;
			top: 9px;
			right: 0;

            
		}
		&::before {
			transform: rotate(-45deg);
		}

		&::after {
			transform: rotate(45deg);
		}
	}
}

.main-form {
	&__wrap {
		display: flex;
		flex-direction: column;
		align-content: center;
		padding: 0 95px;
	}

	&__field {
		margin-bottom: 20px;
	}

	&__input {
		max-width: 350px;
		width: 100%;
		background-color: $white;
		border: none;
		font-size: 16px;
		line-height: 1.75;
		letter-spacing: 0.3px;
		color: #000000;
		padding: 14px 20px;

		&::placeholder {
			color: #000000;
			font-size: 16px;
		}
		&:focus {
			outline: none;
		}
	}
}
.main-form-title {
	font-size: 26px;
	line-height: 1.38;
	text-align: center;
	letter-spacing: 0.25px;
	color: #ffffff;
	margin-bottom: 20px;
}
