section.page-class
    .container
        h3.section-title ПРЕИМУЩЕСТВА G-SYNC
        p.section-text Каждый монитор с технологией G-SYNC проходит серьезное тестирование и контроль качества для обеспечения максимальной производительности. Сотни мониторов проходят контроль качества, но только прошедшие все тесты получают сертификацию G-SYNC.

        .intro-wrap 
            .intro
                .intro__wrap
                    .intro__img
                        include ../../../../icon-svg/normal
                    .intro__info 
                        h3.intro__title 
                            span.intro__subtext HDR 
                            | DISPLAY

                        span.intro__text Получите более широкий и комфортный для восприятия диапазон цветовой гаммы, чем в обычных мониторах.

            .intro
                .intro__wrap
                    .intro__img 
                        include ../../../../icon-svg/hover
                    .intro__info 
                        h3.intro__title  
                            span.intro__subtext INPUT 
                            | LAG

                        span.intro__text Получите более широкий и комфортный для восприятия диапазон цветовой гаммы, чем в обычных мониторах.


            .intro
                .intro__wrap
                    .intro__img 
                        include ../../../../icon-svg/normal2
                    .intro__info 
                        h3.intro__title    
                            span.intro__subtext HIGH REFRESH 
                            | RATE 

                        span.intro__text Получите более широкий и комфортный для восприятия диапазон цветовой гаммы, чем в обычных мониторах.

            .intro
                .intro__wrap
                    .intro__img
                        include ../../../../icon-svg/normal3
                    .intro__info 
                        h3.intro__title  
                            span.intro__subtext WIDE COLOR 
                            | GAMUT 

                        span.intro__text Получите более широкий и комфортный для восприятия диапазон цветовой гаммы, чем в обычных мониторах.

        button(type="button"  data-toggle="modal").btn.secondary.js-open-modal КУПИТЬ
