.button {
	@include font-size(18px);
	font-family: $btn-font-family;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 17.5px 60px;
	color: $white;
    border: none;
    transition: $base-transition;

    &:hover{
        opacity: 0.8;
    }
    &:focus-visible,
    &:focus{
        outline: none !important;
    }

	&.secondary {
		background-color: #77b900;
        max-width: 192px;
        width: 100%;
        height: 56px;
        margin: 0 auto;
	}
}
