<svg width="161" height="90" viewBox="0 0 161 90" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6.85388 46.075C6.69763 45.8842 6.55746 45.7104 6.4334 45.5546C6.58294 45.386 6.75391 45.1955 6.94607 44.9845C7.81029 44.0352 9.10244 42.6718 10.8 41.032C14.1962 37.7513 19.2082 33.3712 25.6555 28.9907C38.5563 20.2256 57.1409 11.5 80 11.5C104.373 11.5 122.954 20.2359 135.453 28.9791C141.704 33.3519 146.428 37.723 149.585 40.9946C151.162 42.6299 152.347 43.989 153.133 44.934C153.34 45.1823 153.519 45.402 153.67 45.5905C153.557 45.7617 153.426 45.9572 153.276 46.1751C152.632 47.1106 151.645 48.4597 150.286 50.085C147.57 53.3361 143.373 57.6876 137.483 62.044C125.718 70.7453 107.151 79.5 80 79.5C55.3747 79.5 36.795 70.7624 24.3626 62.0229C18.1442 57.6515 13.4679 53.282 10.3515 50.012C8.7937 48.3775 7.62711 47.0192 6.85388 46.075Z" stroke="white" stroke-width="3"/>
<circle cx="81.5" cy="45" r="24.5" stroke="white" stroke-width="3"/>
<circle cx="81.5" cy="45" r="21.5" stroke="#77b900" stroke-width="3"/>
<path d="M81.5 28.5V45H94.5" stroke="#77b900" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
