.mask.js-mask.active

.modal.js-modal.js-modal-listing.active
    .modal__wrap
        button(type="button").modal-close.js-modal-close
        form(action="#").main-form
            h3.main-form-title ПРЕИМУЩЕСТВА G-SYNC
            .main-form__wrap
                .main-form__field
                    input(type="text" placeholder="Имя").main-form__input
                .main-form__field
                    input(type="text" placeholder="Mail").main-form__input
                button(type="button").btn.secondary КУПИТЬ