.header {
	padding: 11px;

	@media (min-width: 768px) {
		padding: 15px 0 15px;
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
.logo {
	width: 45px;
	height: 34px;
	margin-right: 31px;
	@media (min-width: 768px) {
		width: 81px;
		height: 60px;
	}

	svg {
		width: 100%;
		height: 100%;
	}
}

.nav {
	width: 100%;
	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (min-width: 768px) {
			flex-direction: row;
		}
	}

	&__item {
		font-size: 16px;
		line-height: 1.71;
		letter-spacing: 0.3px;
		text-transform: uppercase;

		& + & {
			margin-top: 1.4rem;
			@media (min-width: 768px) {
				margin-left: 24px;
				margin-top: 0;
			}
		}
	}

	&__link {
		transition: $base-transition;
		color: $white;

        &:hover {
            color: $white;
        }

		@media (min-width: 1024px) {
			&:hover {
				opacity: 0.8 !important;
				color: $white;
			}
		}
	}
}

.social {
	display: flex;
	justify-content: center;
	margin-top: auto;
	@media (min-width: 768px) {
	}

	&__img {
		width: 48px;
		height: 48px;
		cursor: pointer;

		svg {
			width: 100%;
			height: 100%;

			path {
				transition: all 0.3s ease;
			}
		}

		&:hover {
			path {
				fill: #77b900;
			}
		}
	}
}

.menu-burger {
	position: fixed;
	z-index: 1;
	top: 60px;
	right: -100vw;
	width: 100vw;
	height: 100%;
	transition: $base-transition;

	@media (min-width: 768px) {
		width: 100%;
		height: auto;
		position: static;
		transition: none;
		background-color: transparent;
	}

	&.active {
		right: 0;
	}

	&__wrap {
		display: flex;
		flex-direction: column;
		padding: 0 16px 55px;
		background-color: $black;
		height: 100%;

		@media (min-width: 768px) {
			padding: 0;
			background-color: transparent;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;
			background-color: transparent;
		}
	}

	&__btn {
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-bottom: 2rem;

		@media (min-width: 768px) {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;
			flex-direction: row;
			margin: 0;
		}
	}

	.btn {
		display: block;
		width: 100%;
	}
}

.burger {
	display: flex;
	flex-direction: column;
	padding: 19px 15.5px;
	position: absolute;
	right: 0;
	top: 0;

	@media (min-width: 768px) {
		display: none;
	}

	&.active {
		background-color: #77b900;
		span {
			&:nth-child(1) {
				transform: rotate(45deg);
				top: 5px;
			}

			&:nth-child(2) {
				opacity: 0;
			}

			&:nth-child(3) {
				transform: rotate(-45deg);
				top: -11px;
			}
		}
	}

	span {
		transition: $base-transition;
		position: relative;
		width: 25px;
		height: 2px;
		background-color: $white;

		&:nth-child(2) {
			margin: 6px 0;
		}
	}
}
